@primary: #337ab7;
@primary-dark: #23527c;
@error: #c9302c;

*, h1, h2, h3, h4, h5, h6, .btn-link, .btn {
    font-weight: 300;
}

body {
    padding: 20px;
}

header {
    h1 {
        margin: 0;
    }
}

.main-nav {
    ul {
        list-style-type: none;
        padding-left: 2px;
        font-size: 16px;

        li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: 12px;

                &:before {
                    margin-right: 10px;
                    content: '//';
                    color: #999;
                }
            }

            &.active {
                a {
                    position: relative;

                    &:hover {
                        color: @primary;
                        cursor: default;
                        text-decoration: none;
                    }

                    &:after {
                        color: @primary-dark;
                        content: '..';
                        position: absolute;
                        top: 6px;
                        left: 50%;
                        margin-left: -6px;
                        font-weight: 300;
                    }

                    &:focus {
                        text-decoration: none;
                    }
                }
            }

            a {
                font-size: 19px;

                &:focus {
                    color: @primary;
                }
            }
        }
    }
}

.about {
    margin-top: 60px;
    text-align: center;

    .loader-info {
        color: #999;
        font-size: 16px;
        display: inline-block;
        padding-top: 18px;

        &:before {
            margin-right: 4px;
            content: '//';
            color: #999;
        }
    }

    iframe {
        width: 100%;
        max-width: 800px;
        height: 1030px;
        margin: 0 auto;
        display: block;

        &.hide-frame {
            visibility: hidden;
            position: absolute;
        }
    }
}

.download-links {
    text-align: center;
    margin: 20px 0;

    a {
        font-size: 16px;

        &.btn-sm {
            font-size: 14px;
        }
    }

    .fa {
        margin-left: 8px;
    }

    .btn-sm {
        color: #999;

        &:before {
            margin-right: 4px;
            content: '//';
            color: #999;
        }

        &:hover {
            text-decoration: none;

            span {
                text-decoration: underline;
            }
        }
    }
}

.contact-form {
    width: 100%;
    max-width: 800px;
    margin: 60px auto 0;

    h3 {
        text-align: center;
        padding-bottom: 20px;
    }

    .form-field {
        position: relative;

        label {
            position: absolute;
            color: @error;
            font-size: 11px;
            padding: 0 6px;
            left: 5px;
            top: -8px;
            background: #fff;
            font-weight: 300;
            display: none;
        }

        input,
        textarea,
        button {
            width: 100%;
            border: 1px solid #999;
            border-bottom-width: 0;
            padding: 13px;
            color: #666;

            &:focus {
                outline: none;
            }
        }

        &.error {
            label {
                display: block;
            }

            input,
            textarea,
            button {
                border-color: @error;
                color: @error;
            }

            & + .form-field {
                input,
                textarea,
                button {
                    border-top-color: @error;
                }
            }
        }

        textarea {
            resize: none;
            display: block;
            height: 147px;
        }

        button {
            border-bottom-width: 1px;
            background-color: transparent;
            transition: background-color .3s;

            &:hover,
            &:focus {
                background-color: #fafafa;
            }

            &:disabled {
                color: #a9a9a9;
                background-color: transparent;
            }
        }
    }
}

.message-sent,
.message-failed {
    margin-top: 150px;
    text-align: center;

    .fa {
        margin-right: 8px;
    }

    h4 {
        margin-top: 20px;
    }
}

.message-failed {
    h3 {
        color: @error;
    }
}

.message-sent {
    h4:after {
        font-size: 40px;
        margin-top: 15px;
        color: #ddd;
        content: '..';
        position: absolute;
        left: 50%;
        margin-left: -11px;
        font-weight: 300;
    }
}

.project-list {
    width: 30%;
    float: left;

    .list-group-item {
        &.active {
            border-top: 1px solid #ddd;
        }
    }
}

.project-details {
    width: 69%;
    float: right;
    margin-left: 1%;

    &.panel {
        .panel-heading {
            min-height: 41px;

            a {
                color: #fff;
                float: right;
            }
        }

        .panel-body {
            font-size: 18px;
            font-weight: 300;
            min-height: 204px;

            &.not-selected {
                color: #aaa;
                text-align: center;
            }
        }
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.uil-ring-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    transform:scale(0.6);
}
.uil-ring-css > div {
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 80px;
    box-shadow: 0 6px 0 0 @primary;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}
