body {
    padding: 20px;
}

header {
    h1 {
        margin: 0;
    }
}

.main-nav {
    margin-top: 3px;
    
    ul {
        list-style-type: none;
        padding-left: 2px;
        font-size: 16px;

        li {
            display: inline-block;

            &:not(:first-child) {
                margin-left: 14px;

                &:before {
                    margin-right: 12px;
                    content: '//';
                    color: #999;
                }
            }

            a:focus {
                text-decoration: none;
            }
        }
    }
}


.project-list {
    width: 30%;
    float: left;

    .list-group-item {
        &.active {
            border-top: 1px solid #ddd;
        }
    }
}

.project-details {
    width: 69%;
    float: right;
    margin-left: 1%;

    &.panel {
        .panel-heading {
            min-height: 41px;

            a {
                color: #fff;
                float: right;
            }
        }

        .panel-body {
            font-size: 18px;
            font-weight: 300;
            min-height: 204px;

            &.not-selected {
                color: #aaa;
                text-align: center;
            }
        }
    }
}
